services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
      - /app/__pycache__
    working_dir: /app
    command: uvicorn index:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - '${APP_PORT}:8000'
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
    depends_on:
      - redis
    networks:
      - api-network

  redis:
    image: redis:7-alpine
    volumes:
      - redis-data:/data
    restart: unless-stopped
    networks:
      - api-network

networks:
  api-network:
    driver: bridge

volumes:
  redis-data:
